templates/logic-app-definition1.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "Mark_as_read_or_unread_(V3)": {
                        "inputs": {
                            "body": {
                                "isRead": true
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['office365_1']['connectionId']"
                                }
                            },
                            "method": "patch",
                            "path": "/codeless/v3/v1.0/me/messages/@{encodeURIComponent(items('For_each')?['id'])}/markAsRead"
                        },
                        "runAfter": {
                            "For_each_2": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    }
                },
                "foreach": "@body('Get_emails_(V3)')?['value']",
                "runAfter": {
                    "Get_emails_(V3)": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Get_emails_(V3)": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['office365_1']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/v3/Mail",
                    "queries": {
                        "fetchOnlyFlagged": false,
                        "fetchOnlyUnread": true,
                        "folderPath": "Inbox",
                        "importance": "Any",
                        "includeAttachments": true,
                        "top": 25
                    }
                },
                "operationOptions": "DisableAutomaticDecompression",
                "runAfter": {},
                "type": "ApiConnection"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "Recurrence": {
                "evaluatedRecurrence": {
                    "frequency": "Minute",
                    "interval": 1,
                    "timeZone": "Pacific Standard Time"
                },
                "recurrence": {
                    "frequency": "Minute",
                    "interval": 1,
                    "timeZone": "Pacific Standard Time"
                },
                "type": "Recurrence"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "office365_1": {
                    "connectionId": "/subscriptions/855cfd52-2f2f-4a84-b698-8d8a995bd70f/resourceGroups/Cone-Connect-MSDN/providers/Microsoft.Web/connections/office365-4",
                    "connectionName": "office365-4",
                    "id": "/subscriptions/855cfd52-2f2f-4a84-b698-8d8a995bd70f/providers/Microsoft.Web/locations/westus2/managedApis/office365"
                }
            }
        }
    }
}